<div class= "nav" id="header"  >

    <a class="headerAnchorTags" id="home" href="/product/home">

        <i id="homeIcon" class="fa-solid fa-house " style="color: #ffffff;"></i>
    
    </a>
    
    <div id="searchdiv">

        <i id="searchIcon" class="fa-solid fa-magnifying-glass" style="color: #584e42;"></i>
        <input id="search" type="search" placeholder="Search ...">
    
    </div>
    
    <a class="headerAnchorTags" id="wishlist" href="/cart/showcart">
        
        <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
        <p class="name">Wishlist</p>

    </a>

    <a class="headerAnchorTags" id="cart" href="/cart/showcart">
        
        <i id="cartIcon" class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
        <span id="counter">1</span>
        <p class="name" id="cartheading">Cart</p>

    </a>

    <a class="headerAnchorTags" id="profile" href="/user/changeP">
        
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
        <p class="name"><%= name %></p>
    </a>

    <a class="headerAnchorTags" id="logout" href="/user/logout">
        
        <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
        <p class="name">LogOut</p>

    </a>

</div>