<html>

<head>

  <title>The Musical Era</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/components/background.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/components/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/components/form.css" type="text/css">

</head>

  <body>

  <%- include('components/header.ejs') %>

  <form id="form" method="POST" action="/user/signup">
    
    <h1 id="heading">Sign Up</h1>
    
    <input class="input" type="text" placeholder="Full Name ?... " id = "Name" name= "Name">
    
    <input class="input" type="email" placeholder="Email ?..." id = "Email" name= "Email" required>
    
    <input class="input" type="password" placeholder="Password ?..." id = "Password" name= "Password" minlength="8" required>
    
    <input type="submit" id="button" value="Submit">
    
    <% if(Error!="" ){ %>

      <span id="error">⚠️<%= Error %>⚠️</span>

    <% } else { %>

      or

    <% } %>
    
    <a class="additionalLinks" href="/user/login">Login to exiting account</a></h4>
    
    </form>

  </body>

</html>