body{
    margin:0%;
    background-size: cover;
  }
  .content
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  form{
    display:flex;
    flex-direction:column;
    border:1px solid lightgray;
    padding:1%;
    width:300px;
    background-color: rgba(245, 245, 245, 0.363);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    font-family: Calibri;
    font-size: 1.3em;
    text-align: center;
    color: gray;
    font-style: italic;
  }
  div{
    width:100%;
    padding:1%;
    display:flex;        
  }
  .txt
  {
    justify-content: space-between;
    padding: 1%;
    margin:0.25%;
  }
  .input
  {
    width:60%;
    box-shadow: 1px 1px 2px lightgray;
    border: 0px;
    border-radius: 2px;
    margin-right:2%;
  }
  #button
  {
    padding:1%;
    padding-left:2%;
    padding-right: 2%;
    font-size:0.7em;
    font-style: italic;
    font-weight: 100;
    color: darkslategrey;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid lightgray;
    border: 0px;
    margin:2%;
    width: 80;
    height: 30;
    box-shadow: 1px 1px 2px lightgrey;
  }
  a{
    color: darkslategray;
  }
  .head
  {
    margin:0%;
    padding-bottom: 3%;
    color: darkslategray;
  }
  .heading
  {
    margin: 0%;
    font-weight: 400;
    font-style: italic;
    align-self:flex-end;
  }
  .label
  {
    color: darkslategrey;
    font-style: italic;
  }
  .btn
  {
    justify-content: flex-end;
  }
  h4
  {
    color: red;
    font-weight: 400;
    font-size: 0.8em;
    font-style: normal;
  }
  .pswd
  {
    margin: 0%;
    color: red;
  }
  .nav
  {
    margin: 0%;
    background-color: darkcyan;
    display: flex;
    box-shadow: 2px 2px 3px lightgray;  
    padding: 1%;  
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 2% ;
  }
  #sitename
  {
   color: white;
   text-shadow: 1px 0px 1px lightgray;
   font-size: clamp(20px,6vw,30px);
   font-weight: 400;
   font-family:"Geneva";
  }