<html>

<head>
  <link rel="stylesheet" href="/login/indexstyle.css" type="text/css">
</head>

<body background="../background3.jpg">
  <div class="nav">
    <h1 id="sitename">MusicalEra</h1>
  </div>
  <div class="content">
    <form method="POST" action="/user/login">
      <div class="head">
        <h1 class="heading">Login</h1>
      </div>
      <div class="txt">
        <label class="label" for="Email">Email</label>
        <input class="input" type="email" placeholder="" id="Email" name="Email" required>
      </div>
      <div class="txt">
        <label class="label" for="Password">Password</label>
        <input class="input" type="password" placeholder="" id="Password" name="Password" minlength="8" required>
      </div>
      <div class="btn">
        <input type="submit" id="button" value="Submit">
      </div>
      or
      <h4 class="pswd"><a href="/user/signup">Create New Account</a></h4>
      <h4>
        <%= Error %>
      </h4>
      <% if(Error!="" ){ %>
        <h4 class="pswd"><a href="/forgotpassword">Forgot Password ?</a></h4>
        <% } %>
    </form>
  </div>
</body>

</html>