body{

    margin:0;
    background-image: url("../../images/background.png");
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: 85%;
    background-color: #f5be6e;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}