body{
        font-family:"Calibri";
        display:flex;
        justify-content: center;
        flex-direction : column;
        text-align:center;
        margin:0%;
        background-size: cover;
        background-position: center;
      }
      
      .nav
      {
        margin: 0%;
        background-color: darkcyan;
        display: flex;
        box-shadow: 2px 2px 3px lightgray;
        padding-top: 1%;
        padding-bottom: 1%;   
        height: 7vh;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
      }
      .login
      {
        padding:1%;
        font-size : 1em;
        font-family: "Calibri";
        height:30;
        width:70;
        color:slategray;
        background-color: white;
        font-weight : 100;
        border-radius :5px;
        border:0px solid lightgrey;
        box-shadow : 2px 2px 3px lightgray;
      }
      form
      {
        margin:0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #sitename
      {
       color: white;
       text-shadow: 1px 0px 1px lightgray;
       font-size: clamp(20px,6vw,30px);
       font-weight: 400;
       font-family:"Geneva";
       margin-left: 2%;
      }
      #activeuser
      {
        margin: 0%;
        font-size: 1.2em;
        padding-top: 1.5%;
        padding-right: 1%;
        font-weight: 300;
        color: white;
        margin-right: 2%;
      }
      .grid
      {
        margin-top: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .image
      {
        height:8rem;
        width: 7rem;
        align-self: center;
        pointer-events: none;
      }
      .image:hover
      {
        filter: brightness(130%);
      }
      .cart
      {
        height: 30px;
        width: 30px;
      }
      .cart{
        height: 25px;
        width: 25px;
      }
      .vcart{
        filter: brightness(200%);
      }

      .maindiv{
        box-shadow: 1px 1px 2px lightgray;
        width: 70vh;
        margin: 1%;
        display: flex;
        justify-content: space-between;
      }

      .head{
        font-style: italic;
        margin: 0%;
      }

      .amt{
        color: red;
        margin: 0%;
        padding: 2%;
      }

      .qty{
        margin: 0%;
        padding: 0px 20%;
      }
      .btnndiv{
        display: flex;
        justify-content: center;
      }
      .contentdiv
      {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
      }

      .btnn{
        height: 20px;
      }

      .del{
        align-self: flex-end;
      }