<html>
  <head>
    <link rel="stylesheet" href="/signup/indexstyle.css" type="text/css">
  </head>
  <body background="background.jpg">   
    <div class = "nav">
      <h1 id ="sitename">MusicalEra</h1>
  </div>  
  <div class="content">
    <form method="POST" action="/changeP">
      <div class="head">
      <h1 class="heading">Change Password</h1>
      </div>
      <div class="txt">
      <input class="input" type="email" placeholder="Email Id" id = "Email" name= "Email" required>
      </div>
      <div class="txt">
      <input class="input" type="password" placeholder="New Password" id = "Password" name= "NPassword" minlength="8" required>
      </div>
      <div class="txt">
        <input class="input" type="password" placeholder="Confirm Password" id = "Password" name= "CPassword" minlength="8" required>
      </div>
      <div class="btn">
      <input type="submit" id="button" value="Submit">
      </div>
      or
      <h4 class="pswd"><a href="/product/home">Don't want to change Password?</a></h4>
      <h4><%= Error %></h4>
    </form>
    </div>
  </body>
</html>