<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/stylesheets/error.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/components/background.css">
    <title>MusicalEra</title>
</head>

<body>
    <div id="center">
        <p id="number">
            <span>4</span>
            <span class="o">🫠</span>
            <span>4</span>
        </p>
        <p id="title">Page Not Found</p>
    </div>
</body>

</html>