body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav
{
    margin: 0%;
    background-color: darkcyan;
    display: flex;
    box-shadow: 2px 2px 3px lightgray;  
    padding: 1%;  
    height: 10vh;
    justify-content: center;
}

.heading
{
    margin: 0%;
    padding: 1.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(20px,5vw,30px);
    color: white;
    font-weight: 400;
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;

}
form
{
    margin: 1%;
    min-width: 50vw ;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    border: 0.1px solid rgba(173, 216, 230, 0.048);
    padding: 1.5%;
    box-shadow: 2px 2px 3px lightgray;
    background-color: rgba(245, 245, 245, 0.274);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label
{
    font-size: clamp(15px,1vw,20px);
    padding: 1.2%;
    padding-bottom: 1%;
    color: darkcyan;
}
input,textarea
{
    border:0px;
    box-shadow: 1px 1px 2px lightgray;
    font-family: 'Calibri';
    font-size: clamp(15px,1vw,20px);
    padding: 1.2%;
    color: slategray;
    border: 0.1px solid rgba(173, 216, 230, 0.048);
}
textarea
{
    color: slategray;
}
#upload::-webkit-file-upload-button
{
    border: 0px;
    box-shadow: 1px 1px 2px lightgray;
    color: darkslategray;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: clamp(13px,1vw,20px);
    border-radius: 2px;
}

#upload
{
    margin-top:2%;
    margin-bottom: 2%;
}
#Submit
{
    background-color: darkcyan;
    color: white;
    width: 30%;
    align-self: flex-end;
    font-size: clamp(15px,1vw,20px);
    border-radius: 2px;

}
